
/*DONACIOENS CSS*/
body{
    background-color: #0A0C19;
}
.footer {
    height: 255px !important;
}
.home {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 60px auto;
    /* Más margen arriba y abajo */
    background-image: linear-gradient(to bottom, #11142a81, #373d6dab);
    box-shadow: 4px 4px 8px #04327A;
    border-radius: 10px;
    height: 553px;
    width: 957px;
}
.logo-container-card {
    display: flex;
    align-items: center;  
    gap: 10px;
    margin-bottom: 90px;
}

.logo-card-img {
    width: 74px;
    height: 62px;
    margin-bottom: 50px;
 
}

.columna-70 {
    padding: 20px;
    border-radius: 8px;
}

.columna-70 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.columna-70 p {
    margin-bottom: 50px;
    font-family: 'NATS', sans-serif;
    font-size: 20px;
    font-weight: normal;
    width: 52%;
}

.columna-30 {
    padding: 20px;
}

.donaciones-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frecuencia,
.monto,
.nombre {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frecuencia-buttons,
.monto-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.frecuencia-buttons button,
.monto-buttons button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #11142A;
    color: rgba(255, 255, 255, 0.616);
}



.donaciones-form input {
    padding: 10px;
    border-radius: 15px;
    background-color: #11142A;
    border: none;

}

.donaciones-form button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #11142A;
    color:#ffffffbd;
    border-color: #fff8;
}
.donaciones-form button:hover{
    background-color: #fff;
    color: #12171F;
}
.enviar-donacion{
    border: none;
}
.enviar-donacion:hover{
    background-color: #D37F85 !important;
    color: white !important;
}

#donador-nombre{
    color:#fff;
}

.text-monto{
    display: flex;
    align-items: center;
    gap: 5px;
}