/*Fuentes usadas*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");


section>div {
    margin-top: 2.4rem;
    ;
}
.content h4 a{
    text-decoration: none;
    color: white;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    gap: 10px;

    >div {
        flex: 0 0 160px;
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px #1e0e3e;
        position: relative;
        overflow: hidden;

        &:nth-of-type(1) {
            background: url("../assets/imgs/thumbnails/copa-toon.jpg") no-repeat 40%/ cover;
        }

        &:nth-of-type(2) {
            background: url("../assets/imgs/thumbnails/jump-up-3d.jpg") no-repeat 10% / cover;
        }

        &:nth-of-type(3) {
            background: url("../assets/imgs/thumbnails/pegarg.png") no-repeat 50% / cover;
        }

        &:nth-of-type(4) {
            background: url("../assets/imgs/thumbnails/table-tennis-ultra-mega-tournament.jpg") no-repeat 50% / cover;
        }

        .content {
            font-size: 0.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: rgb(2, 2, 46);
            background: linear-gradient(0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%);
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;

            span {
                display: block;
                margin-top: 5px;
                font-size: 1rem;
            }
        }

        &:hover {
            flex: 0 0 250px;
            box-shadow: 1px 3px 15px #CC5656;
            transform: translatey(-30px);
        }

        &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
        }
    }
}


html,
body {
    margin: 0;
    /* Elimina márgenes predeterminados que podrían causar espacios */
    padding: 0;
    /* Elimina paddings extras */
    background: url(../assets/Fondo.svg);
    background-position: center;  
    background-attachment: fixed; 
    background-color: #0A0C19;
}

@font-face {
    font-family: 'NATS';
    src: url("../assets/natsFont/NATS-Regular.woff") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.home a {
    display: flex;
    justify-content: center;
}

main h1 {
    font-family: NATS;
    text-align: center;
    color: white;
    text-shadow: #0A0C19 2px 2px 4px;
}

main {
    margin-top: 20px;
    overflow-wrap: break-word;
    word-break: break-word;
    grid-row: 2/3;
    grid-column: 1/7;
    padding-top: 5rem;
}


/*NAVBAR*/

nav {

    background-color: rgba(0, 0, 0, 0.4);
    font-family: NATS;
    grid-row: 1 / 2;
    grid-column: 1 / 7;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2246A2;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 32px;
    letter-spacing: 1.5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-center a {
    text-decoration: none;
    color: #2246A2;
    margin-top: 10px;
}

.donacionBoton {
    margin-right: 20px;
    justify-content: flex-end;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #21213B;
}

.donacionBoton:hover {
    background-color: #D37F85;
    transition: ease-in-out.4s;
}

.donacionBoton a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.767);
    font-family: 'NATS', sans-serif;
}

.donacionBoton a:hover {
    color: white;
    transition: ease-in-out .4s;
}

.navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding-top: 16px;
}

.navbar-collapse .nav-item {
    width: 60%;
}

.navbar-collapse .nav-link {

    display: block;
    background: #d3d3d3;
    color: #0A0C19 !important;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px 18px;
    text-align: center;
    font-family: 'NATS', sans-serif;
    box-shadow: 0 1 1rem rgba(0, 0, 0, 0.08);
    transition: background 0.2s, color 0.2s;
}

.navbar-collapse .nav-link:hover {
    color: #D37F85 !important;
}


.navbar-collapse {
    max-width: 332px;
    width: 80vw;
    /* O usa porcentaje */
    left: 0;
    top: 56px;
    /* Altura de la navbar */
    position: fixed;
    height: 100vh;
    background: rgba(10, 12, 25, 0.95);
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    border-radius: 0 12px 12px 0;
    padding-top: 1rem;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.inicio {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio a {
    color: white;
    margin-right: 20px;
    justify-content: flex-end;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #21213B;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

.inicio a:hover {
    color: white;
    background-color: #D37F85;
    transition: ease-in-out.4s;
}

/*
.perfil {
    margin: 1rem;
    display: flex;
    align-items: center;
}

.perfil>div {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0.5rem 0 0;
}

.perfil p {

    color: white;
    margin-left: 0.2rem;
    font-size: 14px;
    font-family: 'NATS', sans-serif;
    align-self: center;
    margin-bottom: 0;

}

.perfil img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
*/
/*
MAIN SECTION
*/
.slider img {
    display: none;
}

.slider img.active {
    display: block;
}

section .container-slider {
    max-width: 100%;
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {

    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /*          x  y     blur   spread   color                                              */
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    /*   grow shrink basis*/
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.slider-nav a {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    transition: 250ms ease-in-out;
}

.slider-nav a:hover {
    background-color: #04327A;
}



.grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Cambia la altura del footer a auto */
    grid-template-columns: repeat(6, 1fr);
    /* Seis columnas iguales */
    height: 100vh;
    /* Altura completa de la ventana */
    box-sizing: border-box;
    /* Incluye el padding en el cálculo del tamaño */
}

.logo-text {
    font-size: 32px;
    font-family: 'Mouse Memoirs', sans-serif;
    /* Aplica la fuente importada */
    font-weight: normal;
}


.logo-footer {
    width: 216px;
    /* Cambia el ancho del logo */
    height: 108px;
    /* Cambia el alto del logo */
}


.home {
    grid-column: 1 / 7;
    /* Ocupa las 6 columnas */

}

.logo {
    width: 80px;
    height: 70px;
    object-fit: contain;
    /* Asegura que la imagen mantenga su proporción */
}

/*footer*/
.footer {
    grid-column: 1 / 7;
    grid-row: 3/4;
    /* Ocupa las 6 columnas */
    background-color: #111429;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Divide el footer en 4 columnas iguales */
    gap: 40px;
    /* Espaciado entre columnas */
    padding: 20px;
    /* Espaciado interno del footer */
    align-items: start;
    /* Alinea el contenido al inicio de cada columna */
    justify-items: center;
    /* Centra cada columna horizontalmente */
    height: auto;
    /* Ajusta la altura automáticamente según el contenido */
    box-sizing: border-box;
    /* Incluye el padding en el cálculo del tamaño */
    overflow: hidden;
    /* Evita que el contenido se desborde */
}

.footer-column {
    display: flex;
    flex-direction: column;
    /* Mantiene los elementos apilados verticalmente */
    align-items: flex-start;
    /* Alinea todo el contenido a la izquierda */
    justify-content: center;
    /* Centra los elementos verticalmente en la columna */
    gap: 10px;
    /* Espaciado entre los elementos */
    text-align: left;
    /* Asegura que el texto esté alineado a la izquierda */
    height: 100%;
    /* Asegura que la columna ocupe todo el espacio disponible */
    padding: 0;
    /* Elimina el padding adicional */
    margin: 0;
    /* Elimina márgenes adicionales */
}

.footer-column h3 {
    font-size: 18px;
    font-family: 'Mouse Memoirs', sans-serif;
    /* Aplica la fuente Mouse Memoirs */
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: left;
    /* Alinea el título a la izquierda */
    width: 100%;
    /* Asegura que el título ocupe todo el ancho disponible */
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    /* Alinea los elementos de la lista a la izquierda */
    width: 100%;
    /* Asegura que la lista ocupe todo el ancho disponible */
    gap: 20px;
}

.footer-column ul li {
    margin-left: 0;
    /* Asegura que los elementos comiencen desde el borde izquierdo */
    font-family: 'NATS', sans-serif;
    /* Aplica la fuente NATS a los elementos de la lista */
    font-size: 14px;
    /* Ajusta el tamaño de la fuente */
    margin-bottom: 10px;
    /* Aumenta el espaciado entre los elementos */

}

.footer p {
    font-family: 'NATS', sans-serif;
    /* Aplica la fuente NATS */
}

.footer-column ul li a {
    font-family: 'NATS', sans-serif;
    /* Aplica la fuente NATS */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
    color: white;
    /* Cambia el color del texto a blanco */
    font-size: 14px;
    /* Ajusta el tamaño de la fuente */
    transition: color 0.3s ease;
    /* Agrega una transición suave para el hover */
}

.footer-column ul li a:hover {
    color: #3498db;
    /* Cambia el color del texto al pasar el mouse */
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: auto;
    margin-bottom: 30px;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.footer-column p {
    font-family: 'Mouse Memoirs', sans-serif;
    /* Aplica la fuente importada */
    max-width: 250px;
    /* Limita el ancho del texto para mejor legibilidad */
    color: #04327A;
    font-size: 18px;
    margin-bottom: 7px;
}

.footer-column:last-child p {
    font-family: 'NATS', sans-serif;
    /* Aplica la fuente NATS a todo el footer */
    color: white;
    /* Cambia el color del texto a blanco */
    font-size: 14px;
    /* Ajusta el tamaño de la fuente si es necesario */
    line-height: 1.5;
    /* Mejora la legibilidad con un espaciado entre líneas */
}

.social-icons {
    display: flex;
    align-items: center;
    /* Alinea los íconos verticalmente con el texto */
    width: 100%;
    /* Asegura que ocupen todo el ancho disponible */

    gap: 20px;
    /* Espaciado entre los iconos */
    color: white;
    /* Color de los iconos */
    justify-content: flex-start;
    margin-bottom: 7px;
}

.social-icons i {
    height: 5px;
    /* Ajusta la altura de los íconos */
    width: 5px;
    /* Ajusta el ancho de los íconos */

}

.footer-logo img {
    width: 216px;
    /* Cambia el ancho del logo */
    height: 108px;
    /* Cambia el alto del logo */
}


.subscribe-form {
    display: flex;
    flex-direction: column;
    /* Mantiene el input y el botón apilados */
    gap: 10px;
    /* Espaciado entre el input y el botón */
    width: 100%;
    /* Asegura que el formulario ocupe todo el ancho disponible */
}

.subscribe-form input {
    width: 119px;
    /* Ancho del input */
    height: 19px;
    /* Alto del input */
    padding: 0;
    /* Elimina el padding adicional */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    /* Ajusta el tamaño de la fuente para que se adapte al tamaño */
}

.subscribe-form button {
    width: 120px;
    /* Ancho del botón */
    height: 19px;
    /* Alto del botón */
    padding: 0;
    /* Elimina el padding adicional */
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    /* Ajusta el tamaño de la fuente para que se adapte al tamaño */
    text-align: center;
}

.subscribe-form button:hover {
    background-color: #2980b9;
    /* Cambia el color al pasar el mouse */
}

.form-icons {
    display: flex;
    flex-direction: column;
    /* Coloca los íconos en vertical */
    gap: 10px;
    /* Espaciado entre las filas de íconos */
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
}

.icon-row {
    display: flex;
    align-items: center;
    /* Alinea el ícono y el texto verticalmente */
    gap: 10px;
    /* Espaciado entre el ícono y el texto */
}

.icon-row i {
    font-size: 12px;
    /* Reduce el tamaño del ícono ligeramente */
    width: 12px;
    /* Ajusta el ancho del ícono */
    height: 12px;
    /* Ajusta la altura del ícono */
}

.icon-row span {
    font-size: 12px;
    /* Reduce el tamaño del texto ligeramente */
    color: white;
    /* Mantiene el color blanco */
    font-family: 'NATS', sans-serif;
    /* Aplica la fuente NATS */
}

@media screen and (max-width: 414px) {
    .donacionBoton {
        display: none;
    }


}