@keyframes scroll {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -912px;
    }
    
}
.layer{
    min-height: 640px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
    
}
.layer10{
    background-image: url("../assets/flappybird-layers/capa1.png");
    animation: scroll 20s linear infinite;
}
.layer9{
    background-image: url("../assets/flappybird-layers/capa2.png");
    animation: scroll 18s linear infinite;
}
.layer8{
    background-image: url("../assets/flappybird-layers/capa3.png");
    animation: scroll 16s linear infinite;
}

.layer7{
    background-image: url("../assets/flappybird-layers/capa4.png");
    animation: scroll 14s linear infinite;
}
.layer6{
    background-image: url("../assets/flappybird-layers/capa5.png");
    animation: scroll 12s linear infinite;
}

.layer5{
    background-image: url("../assets/flappybird-layers/capa6.png");
    animation: scroll 10s linear infinite;
}

