    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


    @font-face {
        font-family: 'NATS';
        src: url("../assets/natsFont/NATS-Regular.woff") format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }



    body {
        height: 100%;
        background: url(../assets/Fondo.svg);

    }

    @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    .footer {

        height: max-content;
    }


    .layout {
        display: grid;
        grid-template-columns: 1304px;
        gap: 20px;
        /* espacio entre bloques */
    }

    /* 2. Carrusel: puede ser flex dentro */
    .carousel {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        justify-content: space-between;
    }

    /* 3. Dos columnas (60% y 30%) */
    .info {
        display: grid;
        grid-template-columns: 60% 30%;
        gap: 20px;
    }

    /* 4. Bloque inferior */
    .extra {
        width: 60%;
        /* o max-width */
    }

    .controles-compartir {
        display: flex;
        gap: 10px;
    }

    .controles {
        background-image: linear-gradient(to bottom, #11142a8f, #444fa32d);
        border-radius: 10px;
        width: 65%;
        height: 298px;
        box-shadow: 0px 2px 8px #feffff38;

    }

    .controles .controles-body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 70%;
    }

    .controles .controles-body i {
        font-size: 40px;
    }

    .tecla-space {
        display: inline-block;
        padding: 10px 40px;
        border: 2px solid white;
        border-radius: 5px;
        font-family: monospace;
        text-align: center;
    }

    .controles-header {
        display: flex;
        gap: 10px;
        background-color: #11142A;
        box-shadow: 0px 5px 8px #04327A;
        justify-content: center;
        margin: 0px 40px 0px 40px;
        border-radius: 10px;
        height: 30%;
        align-items: center;
    }

    .controles .controles-header p {
        font-size: 22px;
        font-family: 'NATS';
        margin-bottom: 0px;

    }

    .controles-body p {
        margin-bottom: 0px;
        font-family: 'NATS';
        font-size: 16px;
    }

    /*Compartilo*/
    .compartir {
        background-image: linear-gradient(to bottom, #11142a8f, #444fa32d);
        width: 35%;
        height: 147px;
        border-radius: 10px;
        box-shadow: 0px 2px 8px #feffff38;

    }

    .compartilo-header {
        display: flex;
        gap: 10px;
        background-color: #11142A;
        box-shadow: 0px 5px 8px #04327A;
        justify-content: center;
        margin: 0px 40px 0px 40px;
        border-radius: 10px;
        height: 60%;
        align-items: center;
        font-family: 'NATS';
    }

    .compartilo-header p {
        font-size: 22px;
        font-family: 'NATS';
        margin-bottom: 0px;
    }

    .compartilo-body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .compartilo-body i {
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    /*Sobre el juego*/
    .sobre-juego-header {
        display: flex;
        gap: 10px;

        background-color: #11142A;
        box-shadow: 0px 5px 8px #04327A;
        justify-content: center;
        margin: 0px 40px 0px 40px;
        border-radius: 10px;
        height: 30%;
        align-items: center;
    }

    .sobre-juego-header p {
        font-size: 22px;
        font-family: 'NATS';
        margin-bottom: 0px;
    }

    .sobre-juego {
        background-image: linear-gradient(to bottom, #11142a8f, #444fa32d);
        width: 64.5%;
        height: 270px;
        gap: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 8px #feffff38;

    }

    .sobre-juego .reglas {
        margin-top: 10px;
    }

    .sobre-juego .objetivo {
        margin-top: 10px;
    }

    .sobre-juego-body {
        margin: 10px 0px 0px 40px;
        width: 90%;
        line-height: 1.3;
    }

    .sobre-juego-body p {
        font-family: 'NATS';
        font-size: 12px;
        font-weight: normal;
        line-height: 1.2;
        margin-bottom: 0px;
    }

    .sobre-juego-body h2 {
        font-size: 24px;
        font-family: 'NATS';
        margin: 6px 0;
        line-height: 1.2;
    }

    /*header comentarios*/

    .comentarios-header {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 60px;
        margin-bottom: 60px;
        align-items: flex-start;


    }

    .comentarios-header p {
        font-size: 22px;
        font-family: 'NATS';
    }

    .comentarios-header i {
        font-size: 35px;
        font-weight: lighter;
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 5px;
        align-items: flex-end;
    }

    .comentario-input {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 90%;
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        background-color: #161a36be;
        margin: 20px;
    }

    .comentario-input i {
        font-size: 20px;
        color: #4470C8;
        transition: transform 0.2s ease, background-color 0.3s;

    }

    .comentario-input i:hover {
        transform: rotate(45deg);
        color: #1a52c4;
    }

    .comentario-input .btn-icon {
        background: none;
        border: none;
        color: #4470C8;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }

    .comentario-input p {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: bold;
    }

    .comentario-input input {
        background-color: #21213B;
        width: 80%;
        height: 51px;
        border-radius: 15px;
        border: none;
        padding-left: 20px;
        font-size: 14px;
        margin-left: 20px;
        color: white;
    }

    .comentario-input img {
        border-radius: 30px;
    }



    /*linea separadora*/
    .separador {
        border-bottom: 1px solid #04327A;
        width: 100%;
        margin: 10px 0;
    }

    .mas-recientes {
        font-family: 'NATS';
        font-size: 20px;
        margin: 50px 0px 20px 0px;
    }


    .comentarios {
        margin: 40px 0px 40px 0px;
    }

    .avatar-comentarios {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        margin: 5px;
    }

    .avatar-comentarios img {
        margin: 5px;
        border-radius: 30px;
    }

    .comentarios .texto-comentario {
        display: flex;
        border-radius: 15px;
        border: 1px solid #21213b71;
        padding: 10px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        width: 80%;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .texto-comentario p {
        margin: 5px;
        width: 50%;
        font-size: 14px;
    }

    .seccion-comentarios {
        padding: 20px;
        box-shadow: 0px 0 4px #04327A;

    }

    section>div {
        margin-top: 0 !important;
    }

    .game-component {
        width: 100%;
        max-width: 500px;
    }

    .breadcrumb {
        font-family: 'NATS', sans-serif;
        font-size: 16px;
        color: #959ead;
        padding-left: 5px;
        margin-bottom: 0px !important;
    }


    /*ESTILOS  PEG FOTO*/
    .img-peg {
        display: inline-block;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    canvas {
        display: block;
        margin: 0 auto;
    }

    .img-container {
        display: flex;
        position: relative;
        cursor: normal;
    }



    .img-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.377);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    .img-container.juego-iniciado::after {
        display: none;

    }

    .img-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.4);

        z-index: 1;

        opacity: 0;
        pointer-events: none;

        transition: opacity 0.3s ease;
    }

    .img-container.terminado::before {
        opacity: 1;
        pointer-events: auto;
    }

    .menuJuego {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: rgba(25, 25, 40, 1);
        border-radius: 10px;
        padding: 20px 40px;
        color: white;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        transition: opacity 0.3s ease;
    }

    .hidden {
        display: none !important;

    }

    #jugarAgain {
        font-size: 30px;

        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    #jugarAgain:hover {
        transform: scale(1.1);
        color: #D37F85;
    }

    #timer {
        color: white;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    }

    .tiempos {
        position: absolute;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        top: 5%;
        left: 70%;
        width: 160px;
        height: 100px;
        justify-content: center;
        background-color: rgba(25, 25, 40, 0.95);
        color: white;
        border-radius: 12px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tiempos>button {
        margin-top: 2
        px;
        background-color: #D37F85;
        color: white;
        border-radius: 20px;
        padding: 4px 10px;
        font-family: nats;
        border: none;

    }

    .tiempos>button:hover {
        background-color: #D37F85;
        transform: translateY(1px) scale(1.01);
        transition: ease-in;
        box-shadow: 0 5px 15px rgba(255, 20, 120, 0.25);
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .start-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: NATS;
        transform: translate(-50%, -50%);
        z-index: 2;

        background-color: rgba(25, 25, 40, 0.95);
        color: white;
        border-radius: 12px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 40px;
        min-width: 300px;

        transition: opacity 0.3s ease, visibility 0.3s;
    }



    .start-menu h2 {
        font-size: 2.5rem;
        margin: 0;
        color: #FFF;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }

    .start-menu p {
        font-size: 1rem;
        margin: 5px 0 20px 0;
        color: #aaa;
    }


    .start-menu #jugar {
        font-size: 1.1rem;
        /* 18px */
        font-weight: bold;
        color: #FFF;
        background: #D37F85;
        /* Un azul vibrante */
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        width: 100%;
        /* Ocupa todo el ancho del menú */
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: rgba(255, 20, 120, 0.10);
    }

    .start-menu #jugar:hover {
        transform: translateY(-2px);
        /* Efecto "levantar" */
        background: #c9535d;
        box-shadow: 0 6px 20px rgba(255, 20, 120, 0.25);
    }

    .start-menu #jugar:active {
        transform: translateY(1px);
    }


    .high-scores {
        width: 100%;
        margin-top: 25px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 15px;
    }

    .high-scores h3 {
        margin: 0 0 10px 0;
        text-align: center;
        color: #ccc;
        font-weight: 500;
    }

    .high-scores ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .high-scores li {
        font-size: 1rem;
        color: #ddd;
        padding: 4px 0;
        display: flex;
        justify-content: space-between;
    }





    .footer-img {
        width: 100%;
        /* mismo ancho que el canvas */
        margin: 0 auto;
        /* centrar */
        padding: 10px 0;
        background-color: #0a3a75;
        /* color de fondo, adaptalo a tu diseño */
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 15px 30px;

    }

    .footer-img h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 10px;
        font-family: 'NATS', sans-serif;
        font-size: 24px;


    }

    .icons-juego {
        display: flex;
        gap: 15px;
    }

    .icons-juego i {
        gap: 15px;

        border: none;
        color: white;
        cursor: pointer;
        padding: 8px;
        border-radius: 5px;
        transition: all 0.3s ease;
        align-items: center;
        justify-content: center;
    }

    .icons-juego i:hover {
        color: #959ead;
    }